
  
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
<!-- <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" /> -->
<meta charset="utf-8" />
<meta name="description" content="A frontend dashboard for the BabyMonitor application" />
<meta name="author" content="Deol Satish" />
<meta name="viewport" content="width=device-width", initial-scale=1.0>
<title>BabyMonitor</title>
</head>
<div class="container">
    <div id="navbar"></div>
</div>
<!-- <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="item"><i class="home icon"></i> Home</a>
          <a class="item">Work</a>
          <a class="item">Company</a>
          <a class="item">Careers</a>
          <div class="right item">
            <a class="ui inverted button">Log In</a>
          </div>
        </div>
      </div>
  
      <!-- <div class="ui text container">
        <h1 class="ui inverted header">
          Imagine-a-Company
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
      </div> -->
  
    </div> -->
<body>
    <!-- <div class="ui fixed teal inverted menu">
        <a class="active item">
          <i class="home icon"></i> Home
        </a>
        <a class="item">
          <i class="mail icon"></i> Messages
        </a>
        <a class="item">
          <i class="user icon"></i> Friends
        </a>
    </div> -->
    <h1 style="text-align: center;" class="ui blue inverted header">Register new Device</h1>
      <div class="ui container"> 
        <h2>Register new Device</h2> 
        <form class="ui form"ng-app="adddeviceapp" ng-controller="formCtrl" name="myForm" novalidate> 
            
            <div class="ui stacked secondary  segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required>
                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                            <span ng-show="myForm.username.$error.required">Username is required.</span>
                    </div>
        
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" class="form-control" name="name" placeholder="Device Name" ng-model="name" required>
                    
                    <div class="ui left pointing label"style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                        <span ng-show="myForm.name.$error.required">Device Name is required.</span>
                    </div>
                  </div>
                </div>
                <button ng-click="submit()" class="ui fluid large teal submit button" id="login" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ||  myForm.name.$dirty && myForm.name.$invalid">Login</button>
            <div class="ui error message"></div>
            </div>
            <div class="ui message">
                New to us? <a href="/registration">Register</a>
              </div>
        </form> 
    </div>
    
    <br>
    <div style="text-align: center;", id="footbar"></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    </body>
</html>